<!DOCTYPE html>
<html lang="en">

<head>

    {%include 'includes/head.html' %}


    <title>Devdoot Dashboard</title>


    <style type="text/css">
    .btn-status
    {
            float: right;
    margin: 0px 5px 0px 0px;
    }

    </style>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    {%include 'includes/sidebar.html' %}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div class="d-flex flex-column" id="content-wrapper">

        <!-- Main Content -->
        <div id="content">
            <!-- End of Topbar -->
            {%include 'includes/topbar.html' %}
            <!-- End of Topbar -->


            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Account page navigation-->
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a aria-controls="home" aria-selected="true" class="nav-link" href="{% url 'profile' %}"
                           id="home-tab" role="tab">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a aria-controls="profile" aria-selected="false" class="nav-link active" href="{% url 'reset_password' %}"
                           id="profile-tab" role="tab">Security</a>
                    </li>
                </ul>
                <!-- Main page content-->
                <hr class="mt-0 mb-4"/>
                <div class="row">
                    <div class="col-lg-8">
                        <!-- Change password card-->
                        <div class="card mb-4">
                            <div class="card-header">Change Password</div>
                            <div class="card-body">
                                <form method="post">
                                    {%csrf_token%}
                                    <!-- Form Group (current password)-->
                                    <div class="form-group">
                                        <label class="small mb-1" for="currentPassword">Current Password</label>
                                        <input class="form-control" id="currentPassword" name="oldpassword"
                                               placeholder="Enter current password" type="password"/>
                                    </div>
                                    <!-- Form Group (new password)-->
                                    <div class="form-group">
                                        <label class="small mb-1" for="newPassword">New Password</label>
                                        <input class="form-control" id="newPassword" name="newpassword1" placeholder="Enter new password"
                                               type="password"/>
                                    </div>
                                    <!-- Form Group (confirm password)-->
                                    <div class="form-group">
                                        <label class="small mb-1" for="confirmPassword">Confirm Password</label>
                                        <input class="form-control" id="confirmPassword" name="newpassword2"
                                               placeholder="Confirm new password" type="password"/>
                                    </div>
                                    <button class="btn btn-primary" type="submit">Save</button>
                                    {% for message in messages %}
                                    {% if 'error' in message.tags %}
                                    <div class="alert alert-error">
                                        <a class="close" data-dismiss="alert" href="#">×</a>

                                        {{ message }}

                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                    {% for message in messages %}
                                    {% if 'info' in message.tags %}
                                    <div class="alert alert-info">
                                        <a class="close" data-dismiss="alert" href="#">×</a>

                                        {{ message }}

                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                    {% for message in messages %}
                                    {% if 'success' in message.tags %}
                                    <div class="alert alert-info">
                                        <a class="close" data-dismiss="alert" href="#">×</a>

                                        {{ message }}

                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </form>
                            </div>
                        </div>
                        <!-- Security preferences card-->

                    </div>
                    <div class="col-lg-4">
                        <!-- Two factor authentication card-->
                        <!-- Delete account card-->
                        <div class="card mb-4">
                            <div class="card-header">Delete Account</div>
                            <div class="card-body">
                                <p>Deleting your account is a permanent action and cannot be undone. If you are sure you
                                    want to delete your account, select the button below.</p>
                                <button class="btn btn-danger-soft text-danger" type="button">I understand, delete my
                                    account
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Devdoot 2021</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="logoutModal" role="dialog"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>


</body>

</html>